# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data 
*.csv
*.xlsx

# Models
model/*.pkl
models/*.pkl
*.pkl

# Environment
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
